<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>news reader :: i began the day</title>
    <meta name="description" content="Audio cue playback for “I began the day inside the world trying to look at it, but it was lying on my face, making it hard to see.”">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <meta name="theme-color" content="#00f" />
    <meta name="msapplication-navbutton-color" content="#00f">
    <meta name="application-name" content="News Reader">
    <meta name="msapplication-TileColor" content="#00f">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00f">
    <meta name="apple-mobile-web-app-title" content="News Reader">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#black-translucent">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      I began the day inside the world trying to look at it, but it was lying on my face, making it hard to see.
    </header>
    <section role="main">
      <h1>
        News Reader
      </h1>
      <div id="app">
        <app>
          <p class="ta-c pulse">Loading…</p>
          <p class="ta-c info">
            <small>Please make sure you have Javascript enabled.</small>
          </p>
        </app>
      </div>
    </section>
    <footer class="mt-5 ta-c">📰 😬</footer>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script type="text/javascript">
      var storageKey = 'seenFiles'
      var fileCount = 251

      function getSeenCache () {
        try {
          var json = window.localStorage.getItem(storageKey)
          if (!json) return []
          var seen = JSON.parse(json)
          // reset if the browser has downloaded all files
          if (seen.length >= fileCount) return []
          return seen
        } catch (_) { return [] }
      }

      Vue.component('app', {
        template: `<div>
          <transition-group v-if="hasAudio" class="audio" name="fade" tag="div">
            <div v-for="file in currentFiles" :key="file.title" class="fade-item">
              <p v-text="file.title"></p>
              <audio :src="file.url" controls>
                😧 Looks like your browser can’t play audio. Try downloading the file below.
              </audio>
              <p class="mt-2 ta-c">
                💾 <a :href="file.url" download>Download audio file</a>
              </p>
            </div>
          </transition-group>
          <button type="button" name="get-audio" @click="getAudio" v-text="buttonText"/>
        </div>`,
        data: function () {
          return {
            currentFile: null,
            fileCount: fileCount,
            seen: getSeenCache(),
            storageKey: storageKey,
          }
        },
        computed: {
          buttonText: function () {
            return this.hasAudio ?
              '🔄 Get a new audio file' :
              '🎧 Load audio'
          },
          currentFiles: function () {
            return this.hasAudio ?
              [{
                url: `/audio/${this.currentFile}.mp3`,
                title: `#${this.currentFile}`,
              }] :
              []
          },
          files: function () {
            return Array(this.fileCount)
              .fill()
              .map(function (_, i) {
                return i
              })
          },
          hasAudio: function () { return this.currentFile !== null },
        },
        methods: {
          addToSeen: function (i) {
            this.seen.push(i)
            if (this.seen.length >= this.fileCount) this.seen = []
            try {
              var json = JSON.stringify(this.seen)
              window.localStorage.setItem(this.storageKey, json)
            } catch (_) { /* nothing set, no worries */ }
          },
          urn: function () {
            var seen = this.seen
            var unseenFiles = this.files.filter(function (i) {
              return !seen.includes(i)
            })
            var pick = Math.floor(Math.random() * unseenFiles.length)
            var fileIndex = unseenFiles[pick]
            this.addToSeen(fileIndex)
            return fileIndex
          },
          getAudio: function () {
            Vue.set(this, 'currentFile', this.urn())
          },
        }
      })

      new Vue({ el: '#app' })
    </script>
  </body>
</html>
